<div id="<%= dom_id player %>">
  <% if player.use_display_name %>
  <p>
      <strong>Display name:</strong>
      <%= player.display_name %>
  </p>

  <% else %>
  <p>
      <strong>Username:</strong>
      <%= player.username %>
  </p>
  <% end %>
</div>
